{% extends 'base_auth.html' %}
{% load static %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">

            <div class="card mt-3 mb-1">


                <div class="card-body py-3">

                    <div class="card-title py-2">
                        <h4>Reset Password</h4>
                    </div>




                    <form action="{% url 'request-password' %}" method="post">
                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}


                        <div class="form-floating mb-1">
                            <input type="email" class="form-control" id="email" placeholder="name@example.com"
                                name="email" value="{{ email }}">
                            <label for="email">Email address</label>
                        </div>




                        <button class="w-100 btn btn-lg btn-primary submit-btn" type="submit">Submit</button>

                    </form>

                    <div class="container">
                        <span class="text-lead lead">Have an account?</span><a href="{% url 'login' %}">Register</a><br>
                        <span class="text-lead lead">Don't have an account?</span><a href="{% url 'signup' %}">Reset
                            it</a>
                    </div>

                </div>

            </div>
        </div>


    </div>
    <div class="col-md-4"></div>
</div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}